pipeline/Consolidate Data from multiple folders PART 1.json
{
	"name": "Consolidate Data from multiple folders PART 1",
	"properties": {
		"activities": [
			{
				"name": "Get State Name",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_StateName",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Loop through states",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get State Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get State Name').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set State Name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "State Name",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Districts",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set State Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DIstricts Pipeline Part 2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ParamStateName": {
										"value": "@variables('State Name')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"State Name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Activities"
		},
		"annotations": [],
		"lastPublishTime": "2026-04-14T10:12:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}